.game-board {
    display: flex;
    width: 900px;
    height: 900px;
    border: 1px solid #fe0d0d;
    flex-wrap: wrap;
    margin: auto;
}

.box {
    border: 0.5px solid red;
    /* display: grid; */
    width: 98px;
    height: 98px;
}

.score-board {
    text-align: center;
    font-size: 36px;
}